body {
  background-color: #193c6d;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#D7CEB2', endColorstr='#A59E8C');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #757269), color-stop(100%, #757269));
  background-image: -webkit-linear-gradient(135deg, #757269, #757269);
  background-image: -moz-linear-gradient(45deg, #757269, #757269);
  background-image: -ms-linear-gradient(45deg, #757269 0, #757269 100%);
  background-image: -o-linear-gradient(45deg, #757269, #757269);
  background-image: linear-gradient(135deg, #757269, #757269);
  text-align: center;
  margin: 0px;
  overflow: scroll;

 }
 
 #submitButton {
  margin: 7px;
 }
 
 #smallSearchBar {
  margin-left: 7px;
 }
 
 #newGif {
  margin: 7px;
 }
 
 #searchBar {
  background-color: #A59E8C;
 }
 
 #username {
 visibility: hidden;
 }
 
 #password {
 visibility: hidden;
 }
 
 #searchButton {
  margin: 7px;
 }
 
 gifDisplay{
  max-height: 300px;
  max-width: 300px;
 }