body {
  background-color: #193c6d;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#D7CEB2', endColorstr='#A59E8C');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #D7CEB2), color-stop(100%, #A59E8C));
  background-image: -webkit-linear-gradient(135deg, #D7CEB2, #A59E8C);
  background-image: -moz-linear-gradient(45deg, #D7CEB2, #A59E8C);
  background-image: -ms-linear-gradient(45deg, #D7CEB2 0, #A59E8C 100%);
  background-image: -o-linear-gradient(45deg, #D7CEB2, #A59E8C);
  background-image: linear-gradient(135deg, #D7CEB2, #A59E8C);
  text-align: center;
  margin: 0px;
  overflow: hidden;
}

#submitButton {
  margin-right: 7px;
  margin-left: 7px;
}

#smallSearchBar {
  margin-left: 7px;
}

#newGif {
  margin-top: 400 px;
}

#searchBar {
  background-color: #A59E8C !important;
}

#username {
color: white !important;
}

#password {
  color: white;
}